@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To Auction House</h2>
    <img class="card-header container-sm" src="https://townsquare.media/site/13/files/2019/07/Auction.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" />
</div>
