@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Auction House</h1>
<h2>@ViewData["Title"]</h2>
<ol>

    <li>This Site is for this is for academy use, and not to leagal standard</li>
    <li>Information We Collect: We collect personal information from you when you register, bid or make a purchase on our site. This includes your name, email address, postal address, phone number, and payment information.</li>
    <li>How We Use Your Information: We use your personal information to process transactions, provide customer service, and improve our services. We may also use your information to send you promotional emails about our site or products.</li>
    <li>Sharing Your Information: We do not sell or rent your personal information to third parties. We may share your information with trusted third-party service providers who assist us in operating our site, conducting our business, or servicing you, as long as those parties agree to keep your information confidential.</li>
    <li>Security: We take reasonable measures to protect your personal information from unauthorized access, disclosure, or misuse. However, we cannot guarantee the security of your information, and we are not responsible for any unauthorized access or theft of your information.</li>
    <li>Cookies: Our site uses cookies to enhance your browsing experience and to personalize content and ads. You can choose to disable cookies in your browser settings if you prefer.</li>
    <li>Children: Our site is not intended for use by children under the age of 18. We do not knowingly collect personal information from children under the age of 21.</li>
    <li>Changes to This Policy: We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on our site.</li>

</ol>