@page
@model web_project.Areas.Identity.Pages.Account.RegisterConfirmationModel

@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Register confirmation</h1>
<p>
    Thanks for registering, @Model.Email! We have sent a confirmation email. Please check your email and click the link provided to confirm your account.
</p>